html {
  height: 100%; }

body {
  font-family: "Bauhaus Bold BT", arial;
  height: 96%; }
  body .nav-class {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100%; }
    body .nav-class div {
      height: 100%;
      border: solid black 2px 1px;
      flex-grow: 1; }
  body .home-class {
    top: 20%;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100%; }
    body .home-class div {
      text-align: center;
      width: 100%;
      margin: 0; }
      body .home-class div h2 {
        margin: 0; }
  body .button {
    border: 2px solid black;
    background: #d95210;
    border-radius: 5px; }
  body #img-preview {
    width: 50vw;
    margin: 0 25%;
    border-radius: 5px;
    box-shadow: 6px 7px 13px 0px black; }
  body .file-upload-container {
    border: solid 1px black;
    background: #F7BC7D;
    border-radius: 3px;
    width: 50vw; }
  @media (max-width: 599px) {
    body {
      max-width: 599px;
      background: #4abdac;
      margin: 0; }
      body #trailer {
        width: 150%;
        height: 163%;
        margin: -6% -108%; }
      body #group-shot {
        width: 124%;
        height: 170%;
        margin: -18% -100% 0% -91%; }
      body #Tom {
        width: 96%;
        height: 160%;
        margin: -29% 0%; }
      body #caution-tie {
        width: 103%;
        height: 172%;
        margin: -20% 2%; }
      body .login-img {
        width: 100%;
        margin: 2% auto;
        border-radius: 2px; }
      body .top-image {
        width: 95%;
        height: 33%;
        overflow: hidden; }
        body .top-image h2 {
          position: relative;
          text-align: left;
          width: 40%;
          top: -76%;
          left: 40%;
          color: #d95210; }
      body .bottom-image {
        height: 33%;
        width: 95%;
        overflow: hidden; }
        body .bottom-image h2 {
          position: relative;
          text-align: left;
          width: 32%;
          top: -128%;
          left: 7%;
          color: #d95210; }
      body .middle-section {
        display: flex;
        flex-direction: row;
        height: 33%; }
        body .middle-section .middle-section-image {
          overflow: hidden;
          height: 100%; }
          body .middle-section .middle-section-image h2 {
            position: fixed;
            text-align: center;
            width: 46%;
            top: 57%;
            color: #d95210; }
          body .middle-section .middle-section-image #caution-tie-text {
            position: relative;
            text-align: center;
            width: 46%;
            top: -52%;
            left: 55%;
            color: #d95210; }
          body .middle-section .middle-section-image #Tom-img {
            position: relative;
            text-align: center;
            color: #d95210;
            width: 29%;
            top: -104%;
            left: 4%; }
      body header {
        height: 5%;
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
        font-size: 0.7em; }
        body header h1 {
          margin: 0;
          text-align: center; }
      body nav {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 12%;
        background: #EABE7C;
        width: 100%;
        margin: 0; }
        body nav div {
          border: solid black 2px; }
          body nav div h3 {
            width: 20%;
            text-align: center;
            position: fixed;
            bottom: 0;
            margin: 0; }
      body main {
        background-color: #F7BC7D;
        height: 83%;
        border-radius: 4px;
        top: 10%;
        margin: 11px; }
      body .build-tabs, body .login-tabs {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        body .build-tabs div, body .login-tabs div {
          padding: 2% 6% 0 6%;
          border-top: 1px black solid;
          border-right: 1px black solid;
          border-left: 1px black solid;
          border-radius: 5px 5px 0 0; }
          body .build-tabs div h4, body .login-tabs div h4 {
            margin: 0; }
      body .login-section {
        height: 82%; }
      body .login-page {
        height: 100%; }
      body .main-login-div {
        width: 96%;
        margin: 2%;
        height: 100%;
        padding-bottom: 1%; }
        body .main-login-div div h3 {
          margin: 0; }
      body #build-btn {
        width: 35%;
        text-align: center; }
      body .login-tabs {
        width: 100%; }
        body .login-tabs div {
          padding: 2% 17% 0% 16%; }
      body .login-body {
        height: 100%;
        border-radius: 0 0 5px 5px; }
        body .login-body h3 {
          text-align: center; }
        body .login-body h4 {
          margin: 0 auto; }
      body #login-error {
        color: #d95210; }
      body .build-page {
        margin: 0 2%; }
      body .builds-list-space h5 {
        max-width: 350px;
        word-wrap: break-word; }
      body .builds-list-space h6 {
        margin: 0;
        color: #d95210; }
      body .footer-spacer {
        height: 12%; }
      body #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 75vh; }
        body #messages li {
          padding: 5px 10px; }
        body #messages li:nth-child(odd) {
          background: #eee; }
      body .message-list {
        height: 75%;
        margin: 0; }
      body .comment {
        margin: 0; }
      body .stats {
        margin: 0; }
      body .chat-form {
        background: #000;
        padding: 3px;
        position: fixed;
        bottom: 0%;
        width: 98.8%; }
        body .chat-form input {
          border: 0;
          padding: 10px;
          width: 80%;
          margin-right: 0.5%; }
        body .chat-form button {
          width: 13%;
          background: #82e0ff;
          border: none;
          padding: 10px; }
      body h5 {
        margin: 0; } }

@media (min-width: 600px) {
  html {
    width: 100%; }

  body {
    width: 100%;
    background: #4abdac;
    margin: 0; }
    body header {
      width: 100%; }
      body header h1 {
        width: 100%;
        text-align: center;
        font-size: 3em; }

  .login-section .login-page .login-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .login-section .login-page .login-tabs h4 {
      font-size: x-large;
      margin: 0; }
  .login-section .login-page .login-body .login-form, .login-section .login-page .login-body .registration-form {
    width: 50%;
    margin: 0 auto; }
    .login-section .login-page .login-body .login-form h3, .login-section .login-page .login-body .registration-form h3 {
      text-align: center;
      font-size: xx-large;
      margin: 0 auto; }
    .login-section .login-page .login-body .login-form label, .login-section .login-page .login-body .registration-form label {
      font-size: 2em; }
    .login-section .login-page .login-body .login-form input, .login-section .login-page .login-body .registration-form input {
      display: inline-block;
      float: right;
      height: 2em; }
  .login-section .login-page .login-body h4 {
    display: inline-block;
    margin: 4%; }
  .login-section .login-page .login-body img {
    width: 100%; }

  nav {
    box-shadow: 0px 0px 19px 1px #333;
    background-color: #EABE7C;
    z-index: 100; }
    nav .nav-class {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      nav .nav-class div h3 {
        text-align: center;
        margin: 0;
        font-size: 2em; }

  main {
    height: 83.7%; }
    main .home-class {
      width: 100%; }
      main .home-class .middle-image {
        height: 50%;
        width: 50%; }
      main .home-class .top-image {
        width: 50%;
        height: 55.1%;
        overflow: hidden;
        display: grid; }
        main .home-class .top-image h2 {
          position: absolute;
          color: #d95210;
          top: 56.9%;
          left: 0%;
          z-index: 1;
          background-color: rgba(255, 255, 255, 0.7);
          height: 30px;
          width: 50%;
          right: 0%;
          border-right: 0.3px solid black; }
      main .home-class #trailer {
        position: relative;
        left: -75%;
        top: -9%; }
      main .home-class .profile-img {
        width: 50%;
        height: 46.3%;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 15.6%; }
        main .home-class .profile-img #caution-tie {
          position: absolute;
          top: -30%;
          left: -5%; }
        main .home-class .profile-img h2 {
          position: absolute;
          color: #d95210;
          top: 89.3%;
          z-index: 1;
          background-color: rgba(255, 255, 255, 0.7);
          height: 30px;
          width: 100%;
          left: 0.3px;
          border-left: 0.3px solid black; }
      main .home-class .to5m-img {
        width: 50%;
        height: 40.1%;
        overflow: hidden;
        display: grid;
        position: absolute;
        top: 59.9%; }
        main .home-class .to5m-img #Tom {
          position: absolute;
          top: -26%;
          width: 100%; }
        main .home-class .to5m-img h2 {
          position: absolute;
          color: #d95210;
          top: 93.3%;
          left: 0%;
          z-index: 1;
          background-color: rgba(255, 255, 255, 0.7);
          height: 30px;
          width: 100%;
          border-right: 0.3px solid black; }
      main .home-class .bottom-image {
        width: 50%;
        height: 41%;
        overflow: hidden;
        display: grid;
        position: absolute;
        top: 59.9%;
        left: 50%; }
        main .home-class .bottom-image #group-shot {
          position: absolute;
          width: 163%;
          right: -39%; }
        main .home-class .bottom-image h2 {
          position: absolute;
          color: #d95210;
          top: 91.1%;
          left: 0%;
          z-index: 1;
          background-color: rgba(255, 255, 255, 0.7);
          height: 30px;
          width: 100%;
          border-left: 0.3px solid black; } }
@media (min-width: 900px) {
  nav {
    box-shadow: 0px 0px 19px 1px #333;
    background-color: #EABE7C; }

  main .home-class .middle-section .profile-img {
    width: 53.1%;
    overflow: hidden;
    display: grid;
    height: 39.3%;
    position: absolute;
    left: 50%;
    top: 21%; }
    main .home-class .middle-section .profile-img #caution-tie {
      top: -48%;
      width: 100%; }
    main .home-class .middle-section .profile-img h2 {
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.7);
      height: 30px;
      top: 89%;
      width: 100%;
      right: 0%;
      left: 0.3px;
      border-left: 0.3px solid black; }
  main .home-class .middle-section .to5m-img #Tom {
    top: -106%; }
  main .home-class .middle-section .to5m-img h2 {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    height: 30px;
    top: 91%;
    width: 100%;
    right: 0%;
    left: -0.3px;
    border-right: 0.3px solid black; }
  main .home-class .top-image #trailer {
    left: -46%;
    top: -37%; }
  main .home-class .top-image h2 {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    height: 30px;
    top: 56%;
    width: 50%;
    right: 0%;
    left: -0.3px;
    border-right: 0.3px solid black; }
  main .home-class .bottom-image #group-shot {
    left: -12%;
    top: -36%; }
  main .home-class .bottom-image h2 {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    height: 30px;
    top: 89%;
    width: 100%;
    right: 0%;
    left: 0.3px;
    border-left: 0.3px solid black; }

  width: 100%; }
@media (min-width: 900px) and (min-width: 1200px) {
  background: red; }

/*# sourceMappingURL=main.css.map */
