<div ng-click="main.clearScreen(); main.showBuildsPage = true" class="top-image">
   <img id="trailer" src="./images/trailer.jpg" alt="">
   <h2>Builds</h2>
</div>
<div class="middle-section">
   <div ng-click="main.clearScreen(); main.showProfilePage = true" class="middle-section-image">
      <img id="caution-tie" src="./images/caution-tie.jpg" alt="">
      <h2>Profile</h2>
   </div>
   <div ng-click="main.clearScreen(); main.showTo5mPage = true" class="middle-section-image">
      <img id="Tom" src="./images/Tom.jpg" alt="">
      <h2>To5m's board</h2>
   </div>
</div>
<div ng-click="main.clearScreen(); main.showChatPage = true" class="bottom-image">
   <img id="group-shot" src="./images/group-shot.jpg" alt="">
   <h2>Chat</h2>
</div>
