<div class="main-login-div">
   <div class="login-tabs">
      <div ng-click="main.loadLoginForm()" class="login-tab">
         <h4>Login</h4>
      </div>
      <div ng-click="main.loadRegForm()" class="reg-tab">
         <h4>Register</h4>
      </div>
   </div>
   <div class="login-body">
      <div ng-show="main.toggleLoginForm" class="login-form">
         <h3>LOGIN</h3>
         <form ng-submit="main.login(userPass)">
            <label for="userPass.username">Username:</label>
            <input size="30px" type='test' ng-model='userPass.username' placeholder="username"/>
            <br>
            <label for="userPass.password">Password:</label>
            <input size="30px" type="password" ng-model='userPass.password' placeholder="password" />
            <br>

            <input class="button" type="submit"/>
         </form>
      </div>
      <div ng-show="main.toggleRegForm" class="registration-form">
         <h3>REGISTER</h3>
         <form ng-submit='main.register(); main.showLoginPage = !main.showLoginPage'>
            <label for="main.regformdata.username">Username:</label>
            <input ng-model="main.regformdata.username" placeholder="required" size="30px"/><br>

            <label for="main.regformdata.password">Password:</label>
            <input class="register-form-input" type="password" ng-model="main.regformdata.password" placeholder="required" required size="30px"/><br>

            <button class="button" type="submit">Register</button>
         </form>
      </div>
      <h6 id="login-error" ng-show="main.toggleLoginError">Username/Password is incorrect. Try Again.</h6>
      <h4>The crazies are a collection of people who know what is important in life and have their priorities in order.  They have a strong desire to help other people feel the feeling of what it is like to change the world with their own hands.</h4>
      <img class="login-img" src="https://i.imgur.com/19hKPWE.png" alt="">
   </div>
</div>
